/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  font-family: Verdana, Geneva, sans-serif;
}

.separator {
  border: 1px solid #EBEBEB;
}

/* TYPOGRAPHY */
.text-title {
  color: #333;
  font-size: 28px;
  margin: 0 0 15px 0;
  padding: 5px;
}

.text-content {
  color: #333;
  font-size: 16px;
  font-weight: default;
  line-height: 1.8em;
  margin: 15px 0 0 0;
  padding: 5px;
}

.text-content a {
  color: #333;
  border-bottom: 1px solid #333;
}

.text-content a:hover {
  border-bottom: 1px solid #EBEBEB;
}

/* EDITOR */
.editor {
  margin: 30px auto 60px auto;
  width: 90%;
  max-width: 650px;
}

.text-title:focus, .text-content:focus {
  outline: 2px solid #EBEBEB;
}

#content {
  min-height: 300px;
}

/*MENU */
a {
  text-decoration: none;
}
.menu {
  border-top: 2px solid #EBEBEB;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.menu-link {
  float: left;
  font-size: 20px;
  width: 50px;
}

.menu-link a {
  color: #000;
  display: block;
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
}

.menu-link a:focus, .menu-link a:hover {
  background-color: #EBEBEB;
  outline: none;
}

.menu-link-bold {
  font-weight: bold;
}

.menu-link-italic {
  font-style: italic;
}

.menu-link-underline {
  text-decoration: underline;
}

.menu-link-about {
  float: right;
  width: auto;
}

@media(min-width: 768px){
  .menu-link {
    font-size: 24px;
    width: 80px;
  }

  .menu-link-about {
    width: auto;
  }

  .menu-link a {
    padding: 20px;
  }
}

/* ABOUT */
#about {
  background: rgba(256, 256, 256, 0.95);
  position: fixed;
  height: 100%;
  overflow-y: auto;
  margin: auto;
  width: 100%;
}

#about:not(:target) {
    bottom: -100%;
    transition: right 1.5s;
}

#about:target {
    bottom: 0;
    transition: right 1s;
}

.about-content {
  font-size: 16px;
  line-height: 1.8em;
  padding: 20px;
  margin: auto;
  max-width: 650px;
}

.about-content-close {
  color: #000;
  display: block;
  margin: 0 0 15px 0;
  text-transform: uppercase;
  text-align: center;
}

.newsletter-form {
  color: #333;
  margin: 15px 0 0 0;
  text-align: center;
}
.newsletter-input {
  border: 2px solid #EBEBEB;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #333;
  font-family: Verdana, Geneva, sans-serif;
  padding: 10px 0 10px 10px;
  width: 100%;
}

.newsletter-submit {
  background-color: #EBEBEB;
  border: 2px solid #EBEBEB;
  color: #333;
  font-family: Verdana, Geneva, sans-serif;
  margin: 15px 0 0 0;
  border-radius: 4px;
  padding: 10px 0;
  width: 100%;
}

.newsletter-submit:hover {
  background: #EBEBEB;
  cursor: pointer;
}
