body {
  font-family: Verdana, Geneva, sans-serif; }

hr {
  border: 1px solid #F4DD56;
  margin: 0; }

/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

#editor {
  color: #333333;
  line-height: 1.8;
  margin: 30px auto 60px auto;
  max-width: 650px;
  width: 90%; }
  #editor .title {
    font-size: 28px;
    margin: 0 0 15px 0;
    padding: 10px; }
    #editor .title:focus {
      outline: 2px solid #F4DD56; }
  #editor .content {
    font-size: 16px;
    margin: 15px 0 0 0;
    min-height: 300px;
    padding: 10px; }
    #editor .content:focus {
      outline: 2px solid #F4DD56; }

#menu {
  border-top: 2px solid #F4DD56;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFFFFF;
  position: fixed;
  bottom: 0;
  width: 100%; }
  #menu a {
    text-decoration: none; }
  #menu li {
    float: left;
    font-size: 24px;
    width: 60px; }
    #menu li a {
      color: #000;
      display: block;
      text-align: center;
      padding: 10px;
      text-transform: uppercase; }
      #menu li a:focus, #menu li a:hover {
        background-color: #F4DD56;
        outline: none; }
    #menu li.bold a {
      font-weight: bold; }
    #menu li.italic a {
      font-style: italic; }
    #menu li.underline a {
      text-decoration: underline; }
    #menu li.about {
      float: right;
      width: auto; }
  @media (min-width: 768px) {
    #menu li {
      width: 80px; }
      #menu li.about {
        width: auto; }
      #menu li a {
        padding: 20px; } }

#about {
  background: rgba(255, 255, 255, 0.95);
  position: fixed;
  height: 100%;
  overflow-y: auto;
  margin: auto;
  width: 100%; }
  #about:target {
    bottom: 0; }
  #about:not(:target) {
    bottom: -100%; }
  #about .content {
    padding: 20px;
    margin: auto;
    max-width: 650px; }
    #about .content h1 {
      font-size: 22px;
      font-weight: normal;
      margin: 15px 0; }
    #about .content p {
      color: #333333;
      font-size: 16px;
      line-height: 1.8em;
      margin: 15px 0 0 0; }
      #about .content p a {
        color: #333333;
        border-bottom: 2px solid #333333;
        text-decoration: none; }
        #about .content p a:hover, #about .content p a:focus {
          border-bottom: 2px solid #F4DD56;
          outline: none; }
    #about .content .close {
      color: #333333;
      display: block;
      margin: 0 0 15px 0;
      text-align: center;
      text-decoration: none; }
      #about .content .close:focus {
        color: #F4DD56;
        outline: none; }
    #about .content form {
      margin: 15px 0 0 0;
      text-align: center; }
      #about .content form input {
        border: 2px solid #F4DD56;
        border-radius: 4px;
        color: #333333;
        font-family: Verdana, Geneva, sans-serif;
        font-size: 16px;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
        #about .content form input[type="email"] {
          padding: 10px 0 10px 10px; }
          #about .content form input[type="email"]:focus {
            background: #FFFFFF;
            outline: none; }
        #about .content form input[type="submit"] {
          background-color: #FFFFFF;
          margin: 15px 0 0 0;
          padding: 10px 0;
          text-transform: uppercase; }
          #about .content form input[type="submit"]:hover {
            background: #F4DD56;
            cursor: pointer; }
          #about .content form input[type="submit"]:focus {
            background: #F4DD56;
            outline: none; }
